<nav>
  <a href="/" class="nav__column">Setak D'gaja</a>


  <div class="nav__column">
    <!-- <div><i class="fas fa-adjust fa-xl"></i></div>
         <a href="search.html" class="nav__column--search-btn">
           <i class="fas fa-search fa-xl">주문하기</i>
         </a> -->

    <a href="/orderPost" class="linkmypage">주문하기</a>
    <a href="/orderlist" class="linkmypage">주문현황</a>
    <a href="/me" class="linkmypage">마이페이지</a>
    <a href="/me/Manager" class="linkmypage">전문가페이지</a>

    <a href="/signin/customer" class="nav__column--login-btn">로그인</a>
    <a href="/signin/manager" class="nav__column--long-login-btn">전문가 등록</a>
  </div>

  <!--    
         
    <div class="nav__column">
          <div><i class="fas fa-adjust fa-xl"></i></div>
 
             <i class="fas fa-search fa-xl">주문하기</i>
           </a>
           <div class="write">
 
             <i class="fas fa-pen fa-xl"></i>마이페이지</div>
           </a>
           <a href="/login" class="nav__column--login-btn">로그인</a>
     </div>


     <div class="nav__column">
        <div><i class="fas fa-adjust fa-xl"></i></div>
 
           <i class="fas fa-search fa-xl">주문 현황</i>
         </a>
         <div class="write">
 
           <i class="fas fa-pen fa-xl"></i>마이페이지</div>
         </a>
         <a href="/login" class="nav__column--login-btn">로그인</a>
   </div>

  -->
</nav>

<style>
  .linkmypage {
    margin-left: 20px;
    text-decoration: none;
  }
</style>