<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script id="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">

    <title>Document</title>
</head>
<!--<script>-->
<!--  $(document).ready(function () {-->
<!--    $('#submit').click(function () {   //submit 버튼을 클릭하였을 때-->
<!--      let picture = $('#picture').val();-->
<!--      let clothType = $('#clothType').val();-->
<!--      let phoneNumber = $('#phoneNumber').val();-->
<!--      let address = $('#address').val();-->
<!--      let requests = $('#requests').val();-->

<!--      $.ajax({-->
<!--        id: 'POST',-->
<!--        url: '/order',-->
<!--        data: {-->
<!--          picture: picture,-->
<!--          clothType: clothType,-->
<!--          phoneNumber: phoneNumber,-->
<!--          address: address,-->
<!--          requests: requests-->
<!--        },-->
<!--        dataType: 'json',-->
<!--        success: function (data) {-->
<!--          alert('ㅇㅇㅇㅇㅇ');-->
<!--        }-->
<!--      });-->
<!--    });-->
<!--  });-->
<!--</script>-->


<body>
<!--<form action="/orderPost" method="post">-->
<button>뒤로가기</button>
<main>
    <form action="/orderPost" method="post">
    <div>
        <input name="picture" placeholder="이미지">
        <input name="clothType" placeholder="세탁타입">
        <input name="phoneNumber" placeholder="전화번호">
        <input name="address" placeholder="배송주소">
        <input name="requests" placeholder="요청사항">
        <button type="submit">sadf</button>
    </div>
    </form>
</main>
<!--</form>-->
<script>
// $(document).ready(function (){
//
// })
</script>
</body>
</html>

